@font-face {
    font-family: 'Star Jedi';
    src: url('/fonts/starjedi_cyrillic.otf') format('opentype');
}

body {
    background-color: #000;
    color: #ffcc00;
    font-family: Arial, sans-serif;
}
