@font-face {
    font-family: 'Star Jedi';
    src: url('/fonts/starjedi_cyrillic.otf') format('opentype');
}

body {
    /*background-color: #000;*/
    background-image: url('../public/images/photorealistic-dark-blur-background-for-star-wars-.png');
    color: #ffcc00;
    font-family: Arial, sans-serif;
}
