:root {
    --background-image: url('../../../public/images/photorealistic-dark-blur-background-for-star-wars.png');
}

.container {
    height: 100%;
    margin: 20px 10px;
    padding: 20px;
    /*border: 2px solid #ffcc00;*/
    border: 2px solid var(--border);
    border-radius: 5px;
    background-image: var(--main-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
