.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--border);
    background-color: #222;
    color: var(--header);
    font-size: 16px;
}

.button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: #222;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    background-color: var(--secondary);
}
