.home-page {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    background-color: var(--transparent);
}

.toggle-theme-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
}

.toggle-theme-button:hover {
    background-color: var(--secondary);
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/*.content > * {*/
/*    flex: 1;*/
/*}*/
